@model LoginUser

<h1 class="text-center"> Login </h1>

<form asp-action="Login" asp-controller="Home" method="POST">
    
    <div class="form-group">
        <label asp-for="LoginEmail"></label>
        <input asp-for="LoginEmail" class="form-control">
        <span class="text-danger font-weight-bold" asp-validation-for="LoginEmail"></span>
    </div>
    <div class="form-group">
        <label asp-for="LoginPassword"></label>
        <input asp-for="LoginPassword" class="form-control">
        <span class="text-danger font-weight-bold" asp-validation-for="LoginPassword"></span>
    </div>
    <button class="btn btn-success">Login</button>
</form>